body{
    margin:0;
    padding:0;
    list-style-type:none;
    width:100%;
    height:3000px;
    overflow-x: hidden;
}
a{
    color: white; text-decoration:none;
}
a:hover{
    color:black!important;
}

header {
    height:10%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    transition: all 1s;
    overflow:hidden;
    z-index:1;
    
}

header.over{
    background-color:rgba(216, 216, 216, 0.578);
}

header h1{
    margin: 30px 0px 0px 30px;
}

header.over h1 a {
    color:black;
}

header.show{
    animation: headerShow 1s forwards;
}
header.hide{
    animation: headerHide 1s forwards;
}

@keyframes headerShow{
    form {height: 0px;}
    to {height: 100px;}
}

@keyframes headerHide{
    form {height: 100px;}
    to {height: 0px;}
}

.logo{
    position:absolute;
}

.logo img{
    padding:35px;
    margin-left:30px;
}

header ul {
    margin-left:240px;
    display:flex;
    text-align:center;
    float:right;
}

header ul li{
    margin-right:30px;
    list-style-type:none;
    width:140px;
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
    position:relative;
    text-align:center;
}


header ul li a {
    color:white;
}

header ul li a:hover {
    color:blueviolet
}

header ul li:first-child{
    padding-left:0!important;
}

section{
    height:100vh;
    width:100%;
}

.contents1{
    position:relative;
}

.contents1 h2{
    position:absolute;
    top: 70%;
    left:14%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:50px;
}

.contents1 h3{
    position:absolute;
    top:85%;
    left:12.5%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:40px;
}

.contents1 h4{
    position:absolute;
    top:80%;
    left:11%;
    transform: translate(-50%, -50%);
    color:white;
    font-weight:lighter;
}

.contents1 ul{
    list-style-type:none;
    display:flex;
    position:absolute;
    top:85%;
    right:2%;
    transform:translate(-20%, -30%);
    color:white;
    font-size:40px;
    margin-left:350px;
}

.contents1 ul li{
    margin-left:140px;
}

.contents1 ul li img{
    width:50px;
    margin-left:20px;
}

.text1{
    font-size:12px;
    text-align:center;
    font-weight:bold;
    margin-left:-10px;
}

.text2{
    font-size:12px;
    text-align:center;
    margin-left:10px;
    font-weight:bold;
}

.text3{
    font-size:12px;
    text-align:center;
    margin-left:8px;
    font-weight:bold;
}

.contents2{
    width:100%;
}
.contents2_2{
    display:flex;
    margin-left:140px;
    background-color:white;
    position:relative;
    bottom: 0;
    top:0;
    left:0;
    opacity:0;
    /*transform:translateY(100%);*/
    transition: opacity/*transform*/ 1s ease-out;
    width:100%;
    
}

.animate-up{
    /*transform:translateY(0%);*/
    opacity:1;

}

.animate-down{
    /*transform:translateY(100%);*/
    opacity:0;
}

.contents2 h1{
    text-align:center;
    justify-content:center;
    align-items: center;
    font-size:30px;
    height:5px;
    margin-top:40px;
}

hr{
    border:none;
    border-top:2px solid #ccc;
    margin-top:70px;
    width:80%;
}

#money{
    float:right;
    font-size:28px;
    margin-right:10%;
    font-weight:500;
}

#won{
    font-weight:lighter;
    font-size:18px;
}
#model1, #model2, #model3{
    border:solid 2px #ccc;
    border-radius:15px;
    width:25%;
    height:600px;
    margin:50px 0px 0px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.model_sub, .model_main{
    margin-top:30px;
    margin-left:30px;
    line-height:8px;
}

.model_main{
    font-size:25px;
    font-weight:500;
}

#model_expensive{
    float:right;
    background-color:#f2f2f2;
    width:100px;
    height:30px;
    border-radius: 100px;
    text-align:center;
    justify-content:center;
    display:flex;
    align-items: center;
    margin-right:10px;
    color:#000;
    font-size:14px;
    
}

#model_expensive1{
    float:right;
    background-color:black;
    width:100px;
    height:30px;
    border-radius: 100px;
    text-align:center;
    justify-content:center;
    display:flex;
    align-items: center;
    margin-right:10px;
    color:white;
    font-size:14px;
    
}

.out_color, .in_color, .option{
    font-weight:600;
    font-size:16px;
    line-height:30px;
    margin-top:20px;
    padding:0px 20px 0px 40px;
}

.sub1, .sub2, .sub3{
    float:right;
    text-align:right;
    font-weight:lighter;
    font-size:16px;
    padding:0px 20px 0px 0px;
}

.contents3{
    background-color:#ccc;
}

.contents3 h1{
    text-align:center;
    font-weight:bold;
    font-size:50px;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#303030;
    padding-left:50px;
}
.contents3 h3{
    text-align:center;
    font-weight:lighter;
    font-size:18px;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#303030;
    padding:90px 0px 0px 55px;
}
.contents3 img{
    position:relative;
}

.contents3 span{
    font-size:25px;
    position:relative;
    z-index:2px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:-90px;
    font-weight:lighter;
}



.footer{
    background-color:gray;
    height:350px;
    width:100%;
    position:relative;
    background-color:rgb(0, 30, 61);
}

.footer_logo{
    position:absolute;
    margin:30px 0px 0px 55px;
}

.footer_menu{
    position:absolute;
    list-style-type:none;
    line-height:40px;
    margin:80px 0px 0px 20px;
    font-weight:bold;
}

.copyright{
    position:absolute;
    margin:290px 0px 0px 250px;
    color:white;
}

#top{
    position:fixed;
    bottom:50px;
    right:50px;
    border-radius: 50px;
    width:50px;
    height:50px;
    background-color:white;
    border:1px solid #ccc;
    box-shadow:0px 0px 8px rgba(0, 0, 0, 0.3);
}
